<header>
  <div class="navbar bg-primary-shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
        <i class="fa fa-truck" aria-hidden="true">
        <strong>online store</strong>
        </i>
        <!-- <i class="fa fa-shopping-bag" aria-hidden="true"></i> -->
        <div class="form-group">
          <input type="text"  class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">

        </div>
        <span class="fa fa-search search-icon" aria-hidden="true"></span>
    </div>
    <button class="btn btn-icon"routerLink="cart">
      <i  style="font-size: 30px;"class="fa fa-cart-plus" aria-hidden="true"></i>
      <div style="font-size: 10px;"class="badge bg-danger">{{totalItem}}</div>
    </button>


  </div>
</header>
